.row .col{
    background-color: coral;
    border: 5px solid white;
    margin: auto;
    height: 100px;
}
.navigation-panel,.page-content{
    height: 200px;
}
.custom-height{
    height: 250px;
}
.custom-height h5{
    margin: 0;
}
.custom-height div{
    height: 100%;
}
.custom-float{
    height: 50px;
    width: 50px;
}